@use '../../globalStyles/variable.scss' as *;

//Testing
.checkout {
  margin-block-start: 1.5rem;
  padding-top: 1.5rem;
  @include containerWidth();

  @media only screen and (min-width: $breakpoint-largest) {
    display: grid;
    grid-template-columns: 64% 33%;
    grid-template-rows: auto;
    gap: 1.85rem;
    padding-top: 2.1rem;
  }
}

.form_wrapper {
  // @include containerWidth();
  //width: min(87.2%, 45.625rem);
  //width: 87.2%;
  //margin: 0 auto;
  padding: 1.5rem 1.5rem 1.9rem 1.5rem;
  background-color: $color-primary;
  border-radius: 0.5rem;
  margin-bottom: 2rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-bottom: 0;
    padding: 3.37rem 2.375rem 2.375rem 2.375rem;
  }
}

.heading {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  letter-spacing: 1.14px;

  @media only screen and (min-width: $breakpoint-largest) {
    font-size: 2rem;
  }
}

.input_main:not(:last-of-type) {
  margin-bottom: 2rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-bottom: 3.31rem;
  }
}

.secondary_heading {
  font-size: 0.8125rem;
  margin-bottom: 1rem;
  color: $color-dark-orange;
  letter-spacing: 0.93px;
}

.form_container {
  display: grid;
  gap: 1.5rem;

  & > * {
    display: grid;
    gap: 0.6rem;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem 1rem;
  }
}

.input_text,
.input_tel,
.input_number,
.input_email,
.label_radio {
  min-height: 3.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid $color-border;
  font-family: inherit;
  padding-inline: 1.5rem;
  font-weight: 700;
  font-size: 0.875rem;

  &:focus {
    border: none;
    outline: 0.1rem solid $color-dark-orange;
  }
}

.input_email {
  align-self: end;
}

.shipping_wrapper {
  @media only screen and (min-width: $breakpoint-larger) {
    grid-column: 1 / -1;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

.label_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // & > p {
  //   font-size: 0.75rem;
  //   color: $color-error;
  //   opacity: 1;

  //   // align-self: flex-start;
  // }
}

.radio_container {
  margin-bottom: 2rem;

  @media only screen and (min-width: $breakpoint-larger) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

.tertiary_heading {
  margin-bottom: 1rem;
  color: $color-black;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.radio_wrapper {
  display: grid;
  gap: 1rem;
}

.label_radio {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: all ease-in 0.2s;

  &:hover {
    border: 0.1rem solid $color-dark-orange;
  }
}

input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-primary;
  margin: 0;
  font: inherit;
  color: $color-dark-orange;
  width: 1.37em;
  height: 1.37em;
  border: 0.15em solid $color-border;
  border-radius: 50%;

  display: grid;
  place-content: center;

  &::before {
    content: '';
    width: 0.7em; //0.55em
    height: 0.7em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $color-dark-orange;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.cash_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $breakpoint-larger) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cash_text {
  text-align: center;

  @media only screen and (min-width: $breakpoint-larger) {
    text-align: left;
    max-width: 61ch;
  }
}

.error {
  border: 0.1rem solid $color-error;
}

.error_message {
  font-size: 0.75rem;
  color: $color-error;
  opacity: 1;
}

//SUMMARY

.summary {
  padding: 1.5rem 1.5rem 1.9rem 1.5rem;
  background-color: $color-primary;
  border-radius: 0.5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    max-height: 38.25rem;
    position: sticky;
    top: 7rem;
  }
}

.tertiary_heading {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  letter-spacing: 1.29px;
}

.cart_wrapper {
  height: 15rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin !important;
  scrollbar-color: $color-dark-grey $color-primary;
  gap: 1.5rem;
  margin-bottom: 2rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no_product {
  align-self: center;
}

.cart_product {
  height: 4rem;
  display: flex;

  gap: 1rem;
}

.cart_img {
  border-radius: 0.5rem;
  width: 4rem;
  height: 4rem;
}

.cart_items {
  flex: 1 1 0;
  align-self: center;

  & > *:not(:last-of-type) {
    font-weight: $font-weight-large;
    opacity: 1;
  }
}

.quantity {
  padding-top: 0.5rem;
}

.sum_container {
  margin-bottom: 2rem;

  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  & > * {
    display: flex;
    justify-content: space-between;
  }
}

.sum_text {
  text-transform: uppercase;
}

.sum_value {
  opacity: 1;
  font-weight: $font-weight-large;
  font-size: 1.125rem;
}

.grandtotal_container {
  margin-top: 1rem;
}

.sum_totalvalue {
  color: $color-dark-orange;
  opacity: 1;
  font-weight: $font-weight-large;
  font-size: 1.125rem;
}

.payment_btn {
  cursor: pointer;
  background-color: $color-dark-orange;
  color: $color-primary;
  min-height: 3rem;
  width: 100%;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  font-size: 0.8125rem;
  transition: opacity ease-in 0.2s;
  border: medium none;
  text-transform: uppercase;
  font-weight: $font-weight-large;
  font-family: inherit;
  letter-spacing: 0.0625rem;

  &:disabled {
    opacity: 0.5;
    color: $color-error;
  }

  &:not(:disabled):hover {
    opacity: 0.7;
  }
}
