//Primary Colors
$color-primary: #ffffff;

//Secondary Colors
$color-black: #000000;
$color-dark-orange: #d87d4a;
$color-light-orange: #fbaf85;
$color-light-grey: #f1f1f1;
$color-lighter-grey: #fafafa;
$color-dark-grey: #f2f2f2;
$color-border: #cfcfcf;
$color-error: red;

//Font-family
$font-secondary: 'Manrope', sans-serif;

//Font-weight
$font-weight-large: 700;
$font-weight-medium: 500;
$font-weight-small: 400;

//Breakpoints
$breakpoint-small: 31.25em; //500px
$breakpoint-medium: 37.5em; //600px
$breakpoint-large: 43.75em; //700px
$breakpoint-larger: 46.875em; //750px
$breakpoint-largest: 62.5em; //1000px
$breakpoint-massive: 81.25em; //1300px

//Mixins
@mixin containerWidth {
  width: min(87.2%, 70rem);
  margin: 0 auto;
}

@mixin btnStyle($bgColor, $textColor) {
  width: 10rem;
  height: 3rem;
  background-color: $bgColor;

  display: grid;
  place-items: center;
  transition: all ease-in 0.2s;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $textColor;
    font-size: 0.81rem;
    transition: all ease-in 0.2s;
  }
}
