//Primary Colors
$color-primary: #ffffff;

//Secondary Colors
$color-black: #000000;
$color-dark-orange: #d87d4a;
$color-light-orange: #fbaf85;
$color-light-grey: #f1f1f1;
$color-lighter-grey: #fafafa;

//Font-family
$font-secondary: 'Manrope', sans-serif;

//Font-weight
$font-weight-large: 700;
$font-weight-medium: 500;
$font-weight-small: 400;

//Breakpoints
$breakpoint-mid: 43.75em; //700px
$breakpoint-large: 62.5em; //1000px
