@use '../../globalStyles/variable.scss' as *;

.section_hero {
  background-color: $color-black;
  color: $color-primary;

  display: grid;
  place-items: center;
  min-height: 6.375rem;

  @media only screen and (min-width: $breakpoint-largest) {
    height: 14.9375rem;
  }
}

.secondary_heading {
  font-size: 1.75rem;

  @media only screen and (min-width: $breakpoint-largest) {
    font-size: 2.5rem;
  }
}
