@use '../../globalStyles/variable.scss' as *;

.main {
  //background-color: red;
  width: min(100%, 60rem);
}

//Testing for buttons
.test {
  background-color: aqua;
}

//HERO SECTION
.sectionHero {
  padding-inline: 1.43rem;
}
