@use '../../globalStyles/variable.scss' as *;

.main {
  width: 100%;
}

//Testing for buttons
.test {
  background-color: aqua;
}

//HERO SECTION
.sectionHero {
  background-color: $color-black;
}

.hero {
  width: min(100%, 70rem);
  padding: 0 1.4rem;
  min-height: 32rem;
  margin: 0 auto;
  color: $color-primary;
  background-image: url('../../assets/starter-code/assets/home/mobile/herofix.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $breakpoint-small) {
    background-image: url('../../assets/starter-code/assets/home/tablet/image-tab.png');
  }

  @media only screen and (min-width: $breakpoint-medium) {
    background-position: 50% -7rem;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    @include containerWidth();
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    background-image: none;
  }
}

.heroPrimary {
  width: min(100%, 25rem);

  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-bottom: 1.5rem;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    align-items: flex-start;
  }
}

.heroSecondary {
  display: none;

  @media only screen and (min-width: $breakpoint-largest) {
    display: flex;
    min-height: 39.5rem;
    background-image: url('../../assets/starter-code/assets/home/desktop/headphone-hero-image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 50%;
  }

  @media only screen and (min-width: $breakpoint-massive) {
    background-size: auto;
  }
}

.spantext {
  font-size: 0.87rem;
  font-weight: $font-weight-small;
  letter-spacing: 0.62rem;
  opacity: 0.5;
  text-transform: uppercase;
  display: inline-block;
}

.heading {
  font-weight: $font-weight-large;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 1.3px;

  @media only screen and (min-width: $breakpoint-large) {
    font-size: 3.5rem;
    line-height: 3.625rem;
    letter-spacing: 2px;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    text-align: left;
  }
}

.herotext {
  opacity: 0.75;
  text-align: center;

  @media only screen and (min-width: $breakpoint-largest) {
    text-align: left;
    margin-bottom: 2.5rem;
    max-width: 38ch;
  }
}

.heroBtn {
  @include btnStyle($color-dark-orange, $color-primary);

  &:hover {
    opacity: 0.8;
  }
}

//FEATURES SECTION
.section_features {
  margin-block: 5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-block: 10.5rem;
  }
}

.features {
  @include containerWidth();

  & > *:not(:last-child) {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $breakpoint-largest) {
      margin-bottom: 2.5rem;
    }
  }
}

.speakerzx9 {
  background-image: url('../../assets/starter-code/assets/home/desktop/pattern-circles.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -7rem;
  background-color: $color-dark-orange;
  color: $color-primary;
  min-height: 37.5rem;
  border-radius: 0.5rem;
  padding-block: 3.437rem;

  display: grid;
  justify-items: center;

  @media only screen and (min-width: $breakpoint-largest) {
    display: flex;
    min-height: 35rem;
    justify-content: space-around;
    padding-block: 0;
  }
}

.speakerzx9_wrapper {
  margin-bottom: 2rem;
  display: grid;
  justify-items: center;

  &__img {
    width: 10.75rem;

    @media only screen and (min-width: $breakpoint-largest) {
      width: 25.625rem;
    }
  }

  @media only screen and (min-width: $breakpoint-largest) {
    margin-bottom: 0;
    align-self: flex-end;
  }
}

.speakerzx9_details {
  width: 85.889%;
  display: grid;
  justify-items: center;

  @media only screen and (min-width: $breakpoint-largest) {
    width: 21.81rem;
    height: 18.93rem;
    justify-items: start;
    align-self: center;
  }
}

.speakerzx9_heading {
  font-size: 2.25rem;

  letter-spacing: 1.285px;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 7ch;

  @media only screen and (min-width: $breakpoint-larger) {
    font-size: 3.5rem;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    text-align: left;
    line-height: 3.5rem;
  }
}

.speakerzx9_text {
  opacity: 0.75;
  text-align: center;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $breakpoint-larger) {
    width: 35ch;
    margin-bottom: 2.5rem;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    text-align: left;
  }
}

.speakerzx9_btn {
  @include btnStyle($color-black, $color-primary);

  &:hover {
    opacity: 0.8;
  }
}

.speakerzx7 {
  min-height: 20rem;
  border-radius: 0.5rem;
  background-image: url('../../assets/starter-code/assets/home/mobile/image-speaker-zx7.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  align-items: center;

  @media only screen and (min-width: $breakpoint-larger) {
    background-image: url('../../assets/starter-code/assets/home/tablet/image-speaker-zx7.jpg');
  }

  @media only screen and (min-width: $breakpoint-largest) {
    background-image: url('../../assets/starter-code/assets/home/desktop/image-speaker-zx7.jpg');
  }

  &__heading {
    color: $color-black;
    letter-spacing: 2px;
    font-size: 1.75rem;

    margin-bottom: 2rem;
  }

  &__btn {
    @include btnStyle(transperent, $color-black);
    border: 2px solid $color-black;

    &:hover {
      background-color: $color-black;

      a {
        color: $color-primary;
      }
    }
  }
}

.yx1_wrapper {
  @media only screen and (min-width: $breakpoint-larger) {
    display: flex;
    gap: 0.6875rem;

    & > * {
      flex: 1;
    }
  }

  @media only screen and (min-width: $breakpoint-largest) {
    gap: 1.875rem;
  }
}

.bgyx1 {
  min-height: 12.5rem;
  background-image: url('../../assets/starter-code/assets/home/mobile/image-earphones-yx1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $breakpoint-larger) {
    margin-bottom: 0;

    min-height: 20rem;
    background-image: url('../../assets/starter-code/assets/home/tablet/image-earphones-yx1.jpg');
  }

  @media only screen and (min-width: $breakpoint-largest) {
    background-image: url('../../assets/starter-code/assets/home/desktop/image-earphones-yx1.jpg');
  }
}

.speakeryx1 {
  min-height: 12.5rem;
  border-radius: 0.5rem;
  background-color: $color-light-grey;
  display: grid;
  align-items: center;

  @media only screen and (min-width: $breakpoint-larger) {
    min-height: 20rem;
  }
}

.speakerzx7__wrapper {
  max-width: 15.4375rem;
  margin-left: 1.437rem;

  @media only screen and (min-width: $breakpoint-larger) {
    margin-left: 2.56rem;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    margin-left: 5.93rem;
  }
}
