@use '../../globalStyles/variable.scss' as *;

.main {
  //background-color: red;
  //width: min(100%, 60rem);
  width: 100%;
}

//Testing for buttons
.test {
  background-color: aqua;
}

//HERO SECTION
.sectionHero {
  background-color: $color-black;
}

.hero {
  width: min(100%, 70rem);
  padding: 0 1.4rem;
  min-height: 32rem;
  margin: 0 auto;
  color: $color-primary;
  background-image: url('../../assets/starter-code/assets/home/mobile/herofix.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -4rem;

  display: grid;
  place-items: center;
}

.heroPrimary {
  width: min(100%, 25rem);

  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-bottom: 1.5rem;
  }
}

.heroSecondary {
  display: none;
}

.spantext {
  font-size: 0.87rem;
  font-weight: $font-weight-small;
  letter-spacing: 0.62rem;
  opacity: 0.5;
  text-transform: uppercase;
  display: inline-block;
}

.heading {
  font-weight: $font-weight-large;
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 1.3px;
}

.herotext {
  opacity: 0.75;
  text-align: center;
}

.heroBtn {
  @include btnStyle($color-dark-orange, $color-primary);

  &:hover {
    opacity: 0.8;
  }
}

//FEATURES SECTION
.section_features {
  margin-block: 5rem;
}

.features {
  @include containerWidth();

  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.speakerzx9 {
  background-image: url('../../assets/starter-code/assets/home/desktop/pattern-circles.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -7rem;
  background-color: $color-dark-orange;
  color: $color-primary;
  min-height: 37.5rem;
  border-radius: 0.5rem;
  padding-block: 3.437rem;

  display: grid;
  justify-items: center;
}

.speakerzx9_wrapper {
  margin-bottom: 2rem;
  display: grid;
  justify-items: center;

  &__img {
    width: 10.75rem;
  }
}

.speakerzx9_details {
  width: 85.889%;
  display: grid;
  justify-items: center;
}

.speakerzx9_heading {
  font-size: 2.25rem;

  letter-spacing: 1.285px;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 7ch;
}

.speakerzx9_text {
  opacity: 0.75;
  text-align: center;
  margin-bottom: 1.5rem;
}

.speakerzx9_btn {
  @include btnStyle($color-black, $color-primary);

  &:hover {
    opacity: 0.8;
  }
}

.speakerzx7 {
  min-height: 20rem;
  padding-left: 1.437rem;
  border-radius: 0.5rem;
  background-image: url('../../assets/starter-code/assets/home/mobile/image-speaker-zx7.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  align-items: center;

  &__heading {
    color: $color-black;
    letter-spacing: 2px;
    font-size: 1.75rem;

    margin-bottom: 2rem;
  }

  &__btn {
    @include btnStyle(transperent, $color-black);
    border: 2px solid $color-black;

    &:hover {
      background-color: $color-black;

      a {
        color: $color-primary;
      }
    }
  }
}

.bgyx1 {
  min-height: 12.5rem;
  background-image: url('../../assets/starter-code/assets/home/mobile/image-earphones-yx1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}

.speakeryx1 {
  min-height: 12.5rem;
  border-radius: 0.5rem;
  background-color: $color-light-grey;
  display: grid;
  align-items: center;
  padding-left: 1.437rem;
}
