@use '../../globalStyles/variable.scss' as *;

//Go Back
.section_back {
  margin-top: 1rem;

  & > * {
    @include containerWidth();
  }
}

.go_back {
  border: none;
  color: $color-black;
  cursor: pointer;
  opacity: 0.5;
  background-color: transparent;
  transition: color ease-in 0.2s;

  &:hover {
    color: $color-dark-orange;
  }
}

.section_product {
  margin-block: 1.5rem;
}

.product_wrapper {
  @include containerWidth();
}

.head {
  margin-bottom: 5.5rem;
}

.product_img {
  margin-bottom: 2rem;
}

.product_contents {
  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.title {
  color: $color-dark-orange;
  font-weight: $font-weight-small;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.heading {
  font-size: 1.75rem;
  line-height: 2.375rem;
}

.price {
  font-size: 1.125rem;
  color: $color-black;
  opacity: 1;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btns__crease {
  display: flex;
  background-color: $color-light-grey;

  width: 7.5rem;
  aspect-ratio: 1 / 0.4;

  & > * {
    flex: 1;
  }

  p {
    opacity: 1;
    display: grid;
    place-items: center;
    font-weight: $font-weight-large;
  }
}

.btn_increase,
.btn_decrease {
  border: none;
  background-color: transparent;
  transition: all ease-in 0.2s;

  &:hover {
    background-color: rgba($color-black, 0.1);
    color: $color-light-orange;
  }
}

.btn_addToCart {
  width: 10rem;
  height: 3rem;
  background-color: $color-dark-orange;
  color: $color-primary;
  border: none;

  display: grid;
  place-items: center;
  transition: all ease-in 0.2s;
  text-transform: uppercase;
  font-size: 0.81rem;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

//Features
.features {
  margin-bottom: 5.5rem;
}

.features__heading_wrapper {
  margin-bottom: 7.0625rem;
}

.features__heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.features__text {
  white-space: pre-line;
}

.features__box {
  margin-bottom: 5.5rem;
}

.box_heading {
  margin-bottom: 1.5rem;
}

.lists {
  list-style-type: none;
  //font-size: 0.93rem;
  //color: ;
  //font-size: inherit;

  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.list {
  display: flex;
  gap: 1.5rem;
}

.quantity {
  color: $color-light-orange;
}

//Gallery
.gallery {
  margin-bottom: 7.5rem;

  & > *:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

.gallery__img {
  border-radius: 0.5rem;
}

//Other Products
.other_products {
  margin-bottom: 7.5rem;
}

.other_products__heading {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
}

.other_products__wrapper {
  & > *:not(:last-child) {
    margin-bottom: 3.5rem;
  }
}

.other_products__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.other_img {
  border-radius: 0.5rem;
}

.other_products__subheading {
  font-size: 1.5rem;
}

.btn {
  @include btnStyle($color-dark-orange, $color-primary);

  &:hover {
    opacity: 0.8;
  }
}
