@use '../../globalStyles/variable.scss' as *;

//Go Back
.section_back {
  margin-top: 1rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-top: 4.93rem;
  }

  & > * {
    @include containerWidth();
  }
}

.go_back {
  border: none;
  color: $color-black;
  cursor: pointer;
  opacity: 0.5;
  background-color: transparent;
  transition: color ease-in 0.2s;

  &:hover {
    color: $color-dark-orange;
  }
}

.section_product {
  margin-block-start: 1.5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-block-start: 3.5rem;
  }
}

.product_wrapper {
  @include containerWidth();
}

.head {
  margin-bottom: 5.5rem;

  @media only screen and (min-width: $breakpoint-larger) {
    display: flex;
    //gap: 4.31rem;
    height: 30rem;
    justify-content: space-between;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    margin-bottom: 10rem;
  }
}

.product_img {
  margin-bottom: 2rem;

  @media only screen and (min-width: $breakpoint-larger) {
    margin-bottom: 0;
    width: 40%;
  }

  .image {
    @media only screen and (min-width: $breakpoint-larger) {
      height: 30rem;
      width: 100%;
    }
  }
}

.product_contents {
  & > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    flex-basis: 49%;
    align-self: center;
  }
}

.title {
  color: $color-dark-orange;
  font-weight: $font-weight-small;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: block;
}

.heading {
  font-size: 1.75rem;
  line-height: 2.375rem;

  @media only screen and (min-width: $breakpoint-larger) {
    max-width: 15ch;
  }
}

.price {
  font-size: 1.125rem;
  font-weight: $font-weight-large;
  color: $color-black;
  opacity: 1;
  letter-spacing: 0.08125rem;
}

.btns {
  display: flex;
  gap: 1rem;
}

.btns__crease {
  display: flex;
  background-color: $color-light-grey;

  width: 7.5rem;
  aspect-ratio: 1 / 0.4;

  & > * {
    flex: 1;
  }

  p {
    opacity: 1;
    display: grid;
    place-items: center;
    font-weight: $font-weight-large;
  }
}

.btn_increase,
.btn_decrease {
  border: none;
  background-color: transparent;
  transition: all ease-in 0.2s;

  &:hover {
    background-color: rgba($color-black, 0.1);
    color: $color-light-orange;
  }
}

.btn_addToCart {
  width: 10rem;
  height: 3rem;
  background-color: $color-dark-orange;
  color: $color-primary;
  border: none;

  display: grid;
  place-items: center;
  transition: all ease-in 0.2s;
  text-transform: uppercase;
  font-size: 0.81rem;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

//Features
.features {
  margin-bottom: 5.5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    display: grid;
    grid-template-columns: 57.2% 31.53%;
    gap: 7.8rem;
    margin-bottom: 10rem;
  }
}

.features__heading_wrapper {
  margin-bottom: 7.0625rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-bottom: 0;
  }
}

.features__heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    font-size: 2rem;
  }
}

.features__text {
  white-space: pre-line;
}

.features__box {
  margin-bottom: 5.5rem;

  @media only screen and (min-width: $breakpoint-larger) {
    display: flex;
    justify-content: space-between;
    width: 79.42%;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    
    margin-bottom: 0;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.box_heading {
  margin-bottom: 1.5rem;

  @media only screen and (min-width: $breakpoint-larger) {
    margin-bottom: 0;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    font-size: 2rem;
  }
}

.lists {
  list-style-type: none;

  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.list {
  display: flex;
  gap: 1.5rem;
}

.quantity {
  color: $color-light-orange;
}

//Gallery Images
.gallery {
  margin-bottom: 7.5rem;

  & > *:not(:last-child) {
    margin-bottom: 1.25rem;

    @media only screen and (min-width: $breakpoint-larger) {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: $breakpoint-larger) {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: repeat(2, minmax(10.81rem, 100%));
    gap: 1.125rem;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    margin-bottom: 10rem;
  }
}

.gallery__img_wrapper1 {
  @media only screen and (min-width: $breakpoint-larger) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.gallery__img_wrapper2 {
  @media only screen and (min-width: $breakpoint-larger) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.gallery__img_wrapper3 {
  @media only screen and (min-width: $breakpoint-larger) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    min-height: 22rem;
  }
}

.gallery__sep {
  @media only screen and (min-width: $breakpoint-larger) {
    
    height: 100%;
  }
}

.picture {
  height: 100%;
}

.gallery__img {
  border-radius: 0.5rem;
  @media only screen and (min-width: $breakpoint-larger) {
    height: 100%;
    width: 100%;
  }
}

//Other Products
.other_products {
  margin-bottom: 7.5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-bottom: 10rem;
  }
}

.other_products__heading {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;

  @media only screen and (min-width: $breakpoint-larger) {
    text-align: center;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    font-size: 2rem;
  }
}

.other_products__wrapper {
  & > *:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    gap: 1.875rem;
  }
}

.other_products__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.other_img {
  border-radius: 0.5rem;
}

.other_products__subheading {
  font-size: 1.5rem;
}

.btn {
  @include btnStyle($color-dark-orange, $color-primary);

  &:hover {
    opacity: 0.8;
  }
}
