@use '../../globalStyles/variable.scss' as *;

.section_category {
  margin-block: 4rem 8rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-block: 10rem 14rem;
  }
}

.category_wrapper {
  & > *:not(:last-child) {
    margin-bottom: 7.5rem;

    @media only screen and (min-width: $breakpoint-largest) {
      margin-bottom: 10rem;
    }
  }
}
