@use '../../globalStyles/variable.scss' as *;

.header {
  background-color: $color-black;
  position: sticky;
  z-index: 1900;
  inset: 0;
}

.nav_wrapper {
  @include containerWidth();
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid rgba($color-primary, 0.2);
}

.open_nav {
  display: none;
  cursor: pointer;

  @media only screen and (max-width: $breakpoint-largest) {
    display: block;
    flex: 1 1 0%;
  }
}

.logo_wrapper {
  flex: 1 1 0%;

  @media only screen and (max-width: $breakpoint-largest) {
    flex: 10 1 0%;
  }

  @media only screen and (max-width: $breakpoint-small) {
    display: flex;
    justify-content: center;
  }
}

.close {
  width: 1.8rem;
}

.open {
  width: 1.4rem;
}

.links_wrapper {
  flex: 2 1 0%;

  @media only screen and (max-width: $breakpoint-largest) {
    display: none;
  }
}

.header_links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.cartIcon_wrapper {
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart {
  display: grid;
  cursor: pointer;
  grid-template-columns: auto;

  & > * {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  span {
    z-index: 2;
    background-color: $color-dark-orange;
    border-radius: 50%;
    font-size: 0.6rem;

    width: 1.1rem;
    height: 1.1rem;

    color: $color-primary;

    display: grid;
    place-items: center;
    margin: -0.7rem 0 0 0.9rem;
  }
}

.cartt_icon {
  width: 1.437rem;
  height: 1.25rem;
}

//Side Navigation
.sidenav_wrapper {
  position: fixed;
  width: 100%;
  background-color: $color-primary;
  border-radius: 0 0 0.5rem 0.5rem;
  //margin-top: 6rem;
  right: 0;
  top: 6rem;
  z-index: 1000;
  transition: all ease-in 0.2s;
  transform: translate(100%);

  @media only screen and (min-width: $breakpoint-larger) {
    height: 10rem;
    padding: 0.5rem 0;
    height: 21.25rem;

    & > * {
      margin-block: 6rem 0;
    }
  }
}

//Show sidebar
.show_sidebar {
  transform: translate(0);
}
