@use '../../globalStyles/variable.scss' as *;

.section_audioGear {
  margin-block: 5rem;
}

.audioGear {
  @include containerWidth();
}

.img_wrapper {
  min-height: 18.75rem;
  margin-bottom: 2.5rem;
}

.audio_img {
  height: 18.75rem;
  width: 100vw;
  border-radius: 0.5rem;
}

.heading {
  font-size: 1.75rem;
  line-height: 2.375rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  margin-inline: auto;

  span {
    color: $color-dark-orange;
  }
}

.text {
  text-align: center;
}
