@use '../../globalStyles/variable.scss' as *;

.section_audioGear {
  margin-block: 5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    //margin-bottom: 12.5rem;
    margin-block: 12.5rem;
  }
}

.audioGear {
  @include containerWidth();

  @media only screen and (min-width: $breakpoint-largest) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.img_wrapper {
  min-height: 18.75rem;
  margin-bottom: 2.5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    margin-bottom: 0;
    min-height: 36.75rem;
    flex-basis: 33.75rem;
  }
}

.audio_img {
  height: 18.75rem;
  width: 100vw;
  border-radius: 0.5rem;

  @media only screen and (min-width: $breakpoint-largest) {
    height: 36.75rem;
  }
}

.audio_description {
  @media only screen and (min-width: $breakpoint-largest) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.heading {
  font-size: 1.75rem;
  line-height: 2.375rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  margin-inline: auto;

  span {
    color: $color-dark-orange;
  }

  @media only screen and (min-width: $breakpoint-larger) {
    width: 20ch;
    margin-inline: auto;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    max-width: 18ch;
    text-align: left;
    font-size: 2.5rem;
  }
}

.text {
  text-align: center;

  @media only screen and (min-width: $breakpoint-larger) {
    width: 60ch;
    margin: 0 auto;
  }

  @media only screen and (min-width: $breakpoint-largest) {
    text-align: left;
    width: 47ch;
    margin-inline: 0;
  }
}
